Week 02 Homework

Excercise 2.1

In [9]:
ice_cream_rating = 7
sleeping_rating = 10
happiness_rating = (ice_cream_rating + sleeping_rating)/2
print(happiness_rating)

8.5

In [10]:
type(ice_cream_rating)

int

In [11]:
type(sleeping_rating)

int

In [12]:
type(happiness_rating)

float

It is expected that the ice cream rating and sleeping rating would be integers, however it is surprising that the average of the two is a float.

In [13]:
print('My name is Kristin and I give eating ice cream a score of',ice_cream_rating,'out of 10!')
print('My sleeping enjoyment rating is',sleeping_rating,'/10!')
print('Based on the factors above, my happiness rating is',happiness_rating,'out of 10 or',(happiness_rating*10),'%!')

My name is Kristin and I give eating ice cream a score of 7 out of 10!
My sleeping enjoyment rating is 10 /10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!

Exercise 2.2

In [14]:
station_names = ['lighthouse',
                 'Harmaja',
                 'Suomenlinna aaltopoiju',
                 'Kumpula',
                 'Kaisaniemi',
                ]
first_years_of_op = [2003,
                     1989,
                     2016,
                     2005,
                     1844,
                    ]

station_names.append('Malmi airfield')
station_names.append('Vuosaari harbour')
station_names.append('Kaivopuisto')
first_years_of_op.append(1937)
first_years_of_op.append(2012)
first_years_of_op.append(1904)

In [15]:
station_names = sorted(station_names)
station_names

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'lighthouse']

In [16]:
first_years_of_op.sort(reverse = True)
first_years_of_op

[2016, 2012, 2005, 2003, 1989, 1937, 1904, 1844]

The first list is not alphabetized correctly because the first station, "lighthouse", is lowercase and the lists no longer correspond to one another.

In [17]:
zipped = list(zip(station_names,first_years_of_op))
print(zipped)

[('Harmaja', 2016), ('Kaisaniemi', 2012), ('Kaivopuisto', 2005), ('Kumpula', 2003), ('Malmi airfield', 1989), ('Suomenlinna aaltopoiju', 1937), ('Vuosaari harbour', 1904), ('lighthouse', 1844)]

Exercise 2.3

In [18]:
month = ['January',
         'February',
         'March',
         'April',
         'May',
         'June',
         'July',
         'August',
         'September',
         'October',
         'November',
         'December'
        ]
temperature = [-3.5,
               -4.5,
               -1.0,
               4.0,
               10.0,
               15.0,
               18.0,
               16.0,
               11.5,
               6.0,
               2.0,
               -1.5
              ]
print('The average temperature in',month[0],'is',temperature[0])
print('The average temperature in',month[1],'is',temperature[1])
print('The average temperature in',month[2],'is',temperature[2])
print('The average temperature in',month[3],'is',temperature[3])
print('The average temperature in',month[4],'is',temperature[4])
print('The average temperature in',month[5],'is',temperature[5])
print('The average temperature in',month[6],'is',temperature[6])
print('The average temperature in',month[7],'is',temperature[7])
print('The average temperature in',month[8],'is',temperature[8])
print('The average temperature in',month[9],'is',temperature[9])
print('The average temperature in',month[10],'is',temperature[10])
print('The average temperature in',month[11],'is',temperature[11])

The average temperature in January is -3.5
The average temperature in February is -4.5
The average temperature in March is -1.0
The average temperature in April is 4.0
The average temperature in May is 10.0
The average temperature in June is 15.0
The average temperature in July is 18.0
The average temperature in August is 16.0
The average temperature in September is 11.5
The average temperature in October is 6.0
The average temperature in November is 2.0
The average temperature in December is -1.5

Exercise 2.4

In [19]:
station_number = []
for i in range(21):
    station_number.append(i+1)
    
station_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [20]:
for i in range(0,21):
    filename = [f"Station_{i+1}.txt"]
    
filename

['Station_21.txt']

In [21]:
for i in range(0,21):
    print("Station_",i,".txt")

Station_ 0 .txt
Station_ 1 .txt
Station_ 2 .txt
Station_ 3 .txt
Station_ 4 .txt
Station_ 5 .txt
Station_ 6 .txt
Station_ 7 .txt
Station_ 8 .txt
Station_ 9 .txt
Station_ 10 .txt
Station_ 11 .txt
Station_ 12 .txt
Station_ 13 .txt
Station_ 14 .txt
Station_ 15 .txt
Station_ 16 .txt
Station_ 17 .txt
Station_ 18 .txt
Station_ 19 .txt
Station_ 20 .txt