# Week 04 Homework Pt. 1

## Exercise 3.3

In this Exercise, we will explore our temperature data by comparing spring temperatures between Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Notice that in this exercise, we will use data saved from the previous Exercise (2.2.6), hence you should finish that Exercise before this one. An overview of the tasks in this exercise:

- Calculate the median temperatures for Kumpula and Rovaniemi for the summer of 2017
- Select temperatures for May and June 2017 in separate DataFrames for each location
- Calculate descriptive statistics for each month (May, June) and location (Kumpula, Rovaniemi)

### Problem 1 - Read the data and calculate basic statistics

Read in the CSV files generated in Exercise 2.2.6 to the variables `kumpula` and `rovaniemi` and answer to following questions:

- What was the median Celsius temperature during the observed period in Helsinki Kumpula? Store the answer in a variable `kumpula_median`.
- What was the median Celsius temperature during the observed period in Rovaniemi? Store the answer in a variable `rovaniemi_median`.

In [36]:
import pandas as pd

kumpula_data = pd.read_csv("Kumpula_temps_May_Aug_2017.csv")
print(kumpula_data.head())

rovaniemi_data = pd.read_csv("Rovaniemi_temps_May_Aug_2017.csv")
print(rovaniemi_data.head())

      USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  29980.0  201705010000  37.0  NaN  ***        3
1  29980.0  201705010100  37.0  NaN  ***        3
2  29980.0  201705010200  37.0  NaN  ***        3
3  29980.0  201705010300  37.0  NaN  ***        3
4  29980.0  201705010400  39.0  NaN  ***        4
      USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450.0  201705010000  31.0  NaN  ***       -1
1  28450.0  201705010020  30.0  NaN  ***       -1
2  28450.0  201705010050  30.0  NaN  ***       -1
3  28450.0  201705010100  31.0  NaN  ***       -1
4  28450.0  201705010120  30.0  NaN  ***       -1

In [37]:
kumpula_median = kumpula_data['TEMP'].median()

rovaniemi_median = rovaniemi_data['TEMP'].median()

print(kumpula_median)
print(rovaniemi_median)

58.0
52.0

### Problem 2 - Select data and compare temperatures between months

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi:

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017. Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` 
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`
- Calculate and print the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (kumpula_may, rovaniemi_may, kumpula_june, and rovaniemi_june). Answer to following questions:
    - Does there seem to be a large difference in temperatures between the months?
    - Is Rovaniemi a much colder place than Kumpula?

In [38]:
kumpula_may = kumpula_data.loc[(kumpula_data['YR--MODAHRMN'] < 201706010000)]

In [39]:
rovaniemi_may = kumpula_data.loc[(rovaniemi_data['YR--MODAHRMN'] < 201706010000)]

In [40]:
kumpula_june = kumpula_data.loc[(kumpula_data['YR--MODAHRMN'] > 201706010000) & (kumpula_data['YR--MODAHRMN'] < 201707010000)]

In [41]:
rovaniemi_june = rovaniemi_data.loc[(rovaniemi_data['YR--MODAHRMN'] > 201706010000) & (rovaniemi_data['YR--MODAHRMN'] < 201707010000)]

In [42]:
print(kumpula_may.mean())
print(kumpula_may.min())
print(kumpula_may.max())

print(kumpula_june.mean())
print(kumpula_june.min())
print(kumpula_june.max())

USAF            2.998000e+04
YR--MODAHRMN    2.017052e+11
TEMP            4.956410e+01
MAX             5.498387e+01
Celsius         9.758435e+00
dtype: float64
USAF                 29980.0
YR--MODAHRMN    201705010000
TEMP                    28.0
MAX                     38.0
MIN                      ***
Celsius                   -2
dtype: object
USAF                 29980.0
YR--MODAHRMN    201705312300
TEMP                    73.0
MAX                     73.0
MIN                       61
Celsius                   23
dtype: object
USAF            2.998000e+04
YR--MODAHRMN    2.017062e+11
TEMP            5.675596e+01
MAX             6.205085e+01
Celsius         1.374334e+01
dtype: float64
USAF                 29980.0
YR--MODAHRMN    201706010100
TEMP                    37.0
MAX                     44.0
MIN                      ***
Celsius                    3
dtype: object
USAF                 29980.0
YR--MODAHRMN    201706302300
TEMP                    75.0
MAX                     76.0
MIN                       67
Celsius                   24
dtype: object

/tmp/ipykernel_146406/2092214441.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(kumpula_may.mean())
/tmp/ipykernel_146406/2092214441.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(kumpula_june.mean())

The temperatures for May and June in Kumpula are fairly similar, but slightly greater in June.

In [43]:
print(rovaniemi_may.mean())
print(rovaniemi_may.min())
print(rovaniemi_may.max())

print(rovaniemi_june.mean())
print(rovaniemi_june.min())
print(rovaniemi_june.max())

USAF            2.998000e+04
YR--MODAHRMN    2.017062e+11
TEMP            5.583333e+01
MAX             6.106486e+01
Celsius         1.323559e+01
dtype: float64
USAF                 29980.0
YR--MODAHRMN    201705010000
TEMP                    28.0
MAX                     38.0
MIN                      ***
Celsius                   -2
dtype: object
USAF                 29980.0
YR--MODAHRMN    201708020800
TEMP                    75.0
MAX                     76.0
MIN                       67
Celsius                   24
dtype: object
USAF            2.845000e+04
YR--MODAHRMN    2.017062e+11
TEMP            5.184431e+01
MAX             5.693220e+01
Celsius         1.102258e+01
dtype: float64
USAF                 28450.0
YR--MODAHRMN    201706010020
TEMP                    30.0
MAX                     36.0
MIN                      ***
Celsius                   -1
dtype: object
USAF                 28450.0
YR--MODAHRMN    201706302350
TEMP                    74.0
MAX                     74.0
MIN                       66
Celsius                   23
dtype: object

/tmp/ipykernel_146406/392510029.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(rovaniemi_may.mean())
/tmp/ipykernel_146406/392510029.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(rovaniemi_june.mean())

The temperatures for May and June in Rovaniemi are fairly similar, but slightly greater in May.

The temperatures in Rovaniemi are close to those in Kumpula. It is not a much colder place.

### Problem 3 - Parse daily temperatures by aggregating data 

In this problem, the aim is to aggregate the hourly temperature data for Kumpula and Rovaniemi weather stations to a daily level. Currently, there are at most three measurements per hour in the data, as you can see from the YR--MODAHRMN column:

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

In this problem you should:

- Summarize the information for each day by aggregating (grouping) the DataFrame using the `groupby()` function.
- The output should be a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

In [44]:
kumpula_data["YR--MODAHRMN_str"] = kumpula_data["YR--MODAHRMN"].astype(str).str.slice(start=4, stop=8)
rovaniemi_data["YR--MODAHRMN_str"] = rovaniemi_data["YR--MODAHRMN"].astype(str).str.slice(start=4, stop=8)

kumpula_grouped = kumpula_data.groupby("YR--MODAHRMN_str")
rovaniemi_grouped = rovaniemi_data.groupby("YR--MODAHRMN_str")

In [50]:
kumpula_mean = kumpula_data.groupby("YR--MODAHRMN_str")["Celsius"].mean().reset_index()
kumpula_max = kumpula_data.groupby("YR--MODAHRMN_str")["Celsius"].max().reset_index()
kumpula_min = kumpula_data.groupby("YR--MODAHRMN_str")["Celsius"].min().reset_index()

rovaniemi_mean = rovaniemi_data.groupby("YR--MODAHRMN_str")["Celsius"].mean().reset_index()
rovaniemi_max = rovaniemi_data.groupby("YR--MODAHRMN_str")["Celsius"].max().reset_index()
rovaniemi_min = rovaniemi_data.groupby("YR--MODAHRMN_str")["Celsius"].min().reset_index()

kumpula_summary = pd.DataFrame(data={"MODA": kumpula_mean["YR--MODAHRMN_str"], "Mean": kumpula_mean["Celsius"], "Max": kumpula_max["Celsius"], "Min": kumpula_min["Celsius"]})
rovaniemi_summary = pd.DataFrame(data={"MODA": rovaniemi_mean["YR--MODAHRMN_str"], "Mean": rovaniemi_mean["Celsius"], "Max": rovaniemi_max["Celsius"], "Min": rovaniemi_min["Celsius"]})

In [49]:
kumpula_summary

     MODA       Mean  Max  Min
0    0501   7.625000   12    3
1    0502   9.750000   16    2
2    0503   9.208333   13    4
3    0504   6.666667   11    3
4    0505  10.250000   17    2
..    ...        ...  ...  ...
118  0827  10.625000   14    6
119  0828  11.826087   16    9
120  0829  14.500000   17    8
121  0830  16.833333   19   15
122  0831  17.250000   19   16

[123 rows x 4 columns]

In [51]:
rovaniemi_summary

     MODA       Mean  Max  Min
0    0501   2.180556    7   -1
1    0502   3.402778    7    1
2    0503   2.112676    4   -1
3    0504   4.388889    9   -1
4    0505   6.916667   12    1
..    ...        ...  ...  ...
118  0827   7.690141   10    5
119  0828   9.138889   13    3
120  0829  10.722222   12    8
121  0830  11.291667   14    9
122  0831  12.000000   17    8

[123 rows x 4 columns]