Excercise 3.1

Problem 1

In [1]:
import pandas as pd

data = pd.read_csv("data/6153237444115dat.csv")
print(data.head())

    USAF   WBAN  YR--MODAHRMN  DIR SPD  GUS  CLG  SKC  L  M  ...     SLP  \
0  28450  99999  201705010000  174  10   14  ***  ***  *  *  ...  1009.2
1  28450  99999  201705010020  180  10  ***    4  ***  *  *  ...  ******
2  28450  99999  201705010050  190  10  ***    4  ***  *  *  ...  ******
3  28450  99999  201705010100  188  12   16  ***  ***  *  *  ...  1009.1
4  28450  99999  201705010120  200  13  ***    2  OBS  *  *  ...  ******

     ALT     STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX  SD
0  *****   984.1  ***  ***  *****  *****  *****  *****  35
1  29.74  ******  ***  ***  *****  *****  *****  *****  **
2  29.74  ******  ***  ***  *****  *****  *****  *****  **
3  *****   984.0  ***  ***  *****  *****  *****  *****  35
4  29.74  ******  ***  ***  *****  *****  *****  *****  **

[5 rows x 33 columns]

Problem 2

In [2]:
# number of rows
len(data.index)

11694

In [3]:
#column names and type
data.columns

Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [4]:
print(data.dtypes)

USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

Problem 3

In [44]:
data['TEMP']= data['TEMP'][pd.to_numeric(data['TEMP'], errors='coerce').notnull()]
data['TEMP'] = data['TEMP'].astype(float)
data['TEMP'].mean()

52.24796852279531

In [46]:
data['MAX']= data['MAX'][pd.to_numeric(data['MAX'], errors='coerce').notnull()]
data['MAX'] = data['MAX'].astype(float)
data[['MAX']].std()

MAX    10.307989
dtype: float64

In [49]:
data["USAF"]= data["USAF"][pd.to_numeric(data["USAF"], errors='coerce').notnull()]
data["USAF"] = data["USAF"].astype(float)
data['USAF'].unique()

array([28450., 29980.])

Exercise 3.2

Problem 1

In [87]:
selected = data[['USAF','YR--MODAHRMN','TEMP','MAX','MIN']]
selected = selected.dropna(subset=["TEMP"])

Problem 2

In [88]:
selected.shape

(11691, 5)

In [89]:
selected["Celsius"] = (selected["TEMP"]- 32) /1.8

In [83]:
selected

          USAF  YR--MODAHRMN  TEMP  MAX  MIN    Celsius
0      28450.0  201705010000  31.0  NaN  ***  -0.555556
1      28450.0  201705010020  30.0  NaN  ***  -1.111111
2      28450.0  201705010050  30.0  NaN  ***  -1.111111
3      28450.0  201705010100  31.0  NaN  ***  -0.555556
4      28450.0  201705010120  30.0  NaN  ***  -1.111111
...        ...           ...   ...  ...  ...        ...
11689  29980.0  201708311900  64.0  NaN  ***  17.777778
11690  29980.0  201708312000  64.0  NaN  ***  17.777778
11691  29980.0  201708312100  64.0  NaN  ***  17.777778
11692  29980.0  201708312200  64.0  NaN  ***  17.777778
11693  29980.0  201708312300  64.0  NaN  ***  17.777778

[11694 rows x 6 columns]

In [90]:
selected["Celsius"] = selected["Celsius"].round(0).astype(int)

In [91]:
selected

          USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0      28450.0  201705010000  31.0  NaN  ***       -1
1      28450.0  201705010020  30.0  NaN  ***       -1
2      28450.0  201705010050  30.0  NaN  ***       -1
3      28450.0  201705010100  31.0  NaN  ***       -1
4      28450.0  201705010120  30.0  NaN  ***       -1
...        ...           ...   ...  ...  ...      ...
11689  29980.0  201708311900  64.0  NaN  ***       18
11690  29980.0  201708312000  64.0  NaN  ***       18
11691  29980.0  201708312100  64.0  NaN  ***       18
11692  29980.0  201708312200  64.0  NaN  ***       18
11693  29980.0  201708312300  64.0  NaN  ***       18

[11691 rows x 6 columns]

In [97]:
kumpula = selected.loc[(selected["USAF"] == 29980.0)]

In [98]:
rovaniemi = selected.loc[(selected["USAF"] == 28450.0)]

In [100]:
kumpula.to_csv('Kumpula_temps_May_Aug_2017.csv', index=False)

In [101]:
rovaniemi.to_csv('Rovaniemi_temps_May_Aug_2017.csv', index=False)